body {
  background-color: #102250;
}

h1 {
  font-size: inherit;
  color: white;
}

.quokka {
  position: relative;
  top: 30px;
  margin: 50px auto;
  width: 500px;
  height: 500px;
}

.quokka .ear {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 50px;
  border: 10px solid #000;
  border-radius: 50% 50% 0 0;
  background-color: #795548;
}

.ear.left {
  left: 70px;
  transform: rotate(-30deg);
}

.ear.right {
  right: 70px;
  transform: rotate(30deg);
}

.quokka .eye {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 130px;
  background-color: #000;
  border-radius: 50%;
}

.eye.left {
  left: 110px;
}

.eye.right {
  right: 110px;
}

.quokka .cheek {
  position: absolute;
  width: 60px;
  height: 20px;
  top: 180px;
  /* border: 10px solid black; */
  border-radius: 50%;
  background-color: rgb(233, 96, 119);
}

.cheek.left {
  left: 30px;
}

.cheek.right {
  right: 30px;
}

.quokka .nose {
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translate(-50%);
  width: 60px;
  height: 70px;
  border: 10px solid #000;
  border-radius: 50% 50% 40% 40%;
  background-color: #000;
}

.quokka .mouth {
  position: absolute;
  top: 190px;
  width: 200px;
  height: 50px;
  left: 50%;
  transform: translate(-50%);
  border: 10px solid;
  border-color: transparent transparent black transparent;
  border-radius: 50% 50% 50% 50%;
}

.quokka .face {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%);
  width: 350px;
  height: 320px;
  border: 10px solid #000;
  border-radius: 50% 50% 30% 30%;
  background-color: #795548;
}

.title {
  text-align: center;
  font-size: 60px;
}
